.main {
	max-width: 990px;
	width: auto;
	margin: 24px auto;
	background: #fff;
	box-shadow: 1px 1px 53px 3px rgba(0,0,0,0.75);
	
	@media(max-width: $medium) {
		&__wrapper {
			padding: 40px 32px;
		}
	}
	
	@media(max-width: $small) {
		margin: 0;
	
		&__wrapper {
			padding: 40px 12px;
		}
		
	}

	&__wrapper {
		padding: 40px 32px;
		width: auto;
	}
	
}
